"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 33
        green: 150
        blue: 243
        alpha: 1
      genAccent: true
      predefinedColor: "Blue"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "9be056dc-a56a-2771-0610-05ba53973675"
  linter:
    errorPanelHeight: 27
  "linter-sass-lint":
    globalNodePath: "C:\\Program Files\\nodejs"
    globalSassLint: true
    noConfigDisable: true
  react: {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
